
.style9
{
    font:Batang;
    color:Black;
    font-size:medium;
    font-weight:bolder;
}
.style3
{
    font:Batang;
    color:Black;
    font-size:medium;
    font-weight:bolder;
}
.style6
{
    font:Batang;
    color:Black;
    font-size:medium;
    font-weight:bolder;
}

h1
{
    font-weight:bold;
    color:Black;
}
